@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

footer{
  color: #fff;
 background-image: linear-gradient(90deg, #a1b9a8 0%, #b0c1b5 30%, #bfc8c2 70%, #a1b9a8 100%);

  position: relative;
  width: 100%;
  height: 100%;
  top:350px;/*Márgen por ahora respetado con el contenido de la parte superior*/
  font-size: 0.8rem;
  font-family: Manrope;
  font-size: 16px;
}

@media (max-width:960px) {
  footer{
    width: 100%;
    top: 120px;
  }
  
  .main{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
}
  
  .logo{
    grid-column: 1/3;
  }
  
  .office{
    grid-column: 3/5;
  }
  .link{
    grid-column: 1/3;
  }
  
	
}


@media (max-width:660px){
  .main{
    gap:10px;
    margin: 0;

  }
  
  .icons{
    display: flex;
  }
  
 
  
  .row{
    grid-column: 1/4;
  }
}

.manik{
  width: 120px;
}
.main{
  margin: 50px;
  padding-top: 20px;
  padding-bottom: 50px;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, 1fr );
}

.row{
 margin-top: 50px;
}

.footer-header{
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.office-des{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.office a{
  text-decoration: none;
  color: #68776d;
  transition: linear 0.3s;
  
}
.office a:hover{
  color: #fff;
  transition: linear 0.3s;
}
.num{
  font-size: 1rem;
  font-weight: 500;
}

.link-des{
  display: flex;
  flex-direction: column;
  gap:10px;
}
.link-des a{
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.link-des a:hover{
  color: #68776d;
  transition: linear 0.3s;
}

.btn-know{
  text-decoration: none;
  background-color: #fff;
  padding: 10px;
  position: relative;
  top: 30px;
  background-color: transparent;
  border: 1px solid  #68776d;
  color: #68776d;
  text-transform: uppercase;
  border-radius:10px;
  font-weight: bold;
  transition: linear 0.3s;
  
}

.btn-know:hover{
  color: white; 
  background-color: #68776d;
  transition: linear 0.3s;
  border: 1px solid var(--mainColor);
}

.subcribe{
  display: flex;
}

input[type=mail]{
  border: none;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  font-size: 0.8rem;
}
.sub-icon{
  margin: 7px;
  margin-right: 15px;
  margin-left: 0;
  font-size: 1.5rem;
}
.ri-arrow-right-line{
  margin-left: 0;
  
}

.icons a{
  font-family: Arial;/*La fuente original no es capaz de hacer círculos sin ahuevarlos*//*Truco para que no se note nada*/
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
  align-items: center;
  font-size: 1.1rem;
  margin: 2%;
}

.social-icon{
  position: relative;
  top:2px;
  transition: linear 0.3s;
}

.icons a:hover{
  color: #fff;
  background-color: #68776d;
  border-color:  #68776d;
  transition: linear 0.3s;
}

.newsletter-des{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.copyright{
  text-align: center;
}

hr{
  width: 90%;
  margin: 2px auto;
  opacity: 40%;
  border: 0.01px solid white;
  
}


.copyright p{
  padding: 20px;
}